/*====================
        HEADER
======================*/


header {
    padding:10px 0px;
    transition: all 300ms ease-in;
    
}

header .header_logo {
    flex-grow: 1;

}
header .header_logo_venue {
    font-size: 40px;
}

header .header_logo_title {
    text-transform: uppercase;
}



.artist_name {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 400px;
    height: 160px;
    -webkit-transform: translate(-50%, -50%);  
    transform: translate(-50%, -50%);   
    color: rgb(255, 196, 0);
    text-align: center;

    .bar_type {
        font-size: 1.5vw;
    }

    .title_name {
        font-size: 6vw;
        text-shadow: 6px 2px 0px rgba(0,0,0,0.2);
    }

    .title_connector {
        font-size: 3vw;
        color: red;
    }

    .establish {
        font-size: 1.5vw;
        color: rgb(0, 97, 73);
    }

    .idea {
        font-size: 2vw;
    }
}

