
/*====================
        VENUE NFO
======================*/

.vn_wrapper {
    display: flex;
    padding: 170px 0px;
}

.vn_item {
    width:50%;
    color:#000000;
    text-align: center;
}
                      
.vn_item .vn_outer {
   
    width: 300px;
    border: 2px solid #828282;
    margin: auto;
    padding: 5px;
}

.vn_item .vn_inner { 
    
    border: 2px solid #828282;
    position: relative;
    padding: 20px 20px;
    transition: all 500ms ease;
}

.vn_item .vn_inner:hover {
    background: #9b9b9b;
}



.vn_item .vn_title {
    font-size: 28px;
   
    border-bottom: 1px solid #5d5d5d;
    padding-bottom: 10px;
}

.vn_item .vn_desc {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 90px;
}